{
  "enableBlocking": true,
  "blockingAnswerTtl": 30,
  "blockListUrlUpdateIntervalMinutes": 1440,

  "ipListResolveIntervalSeconds": 3600,
  "ipListResolveDnsServers": [ "10.0.0.1", "10.0.0.2" ],

  "ipListMaps": {
    "https://192.168.50.50/List_1": "List1",
    "https://192.168.50.50/List_2": "List2"
  },

  "groups": [
    {
      "name": "List1",
      "enableBlocking": true,
      "allowTxtBlockingReport": false,
      "blockAsNxDomain": false,
      "blockingAddresses": [ "127.0.0.1" ],
      "allowed": [],
      "blocked": [],
      "allowListUrls": [],
      "blockListUrls": [],
      "ipListUrls": [
        "List1"
      ],
      "allowedRegex": [],
      "regexAllowListUrls": [],
      "blockedRegex": [],
      "regexBlockListUrls": [],
      "adblockListUrls": []
    },
    {
      "name": "List2",
      "enableBlocking": true,
      "allowTxtBlockingReport": false,
      "blockAsNxDomain": false,
      "blockingAddresses": [ "127.0.0.1" ],
      "allowed": [],
      "blocked": [],
      "allowListUrls": [],
      "blockListUrls": [],
      "ipListUrls": [
        "List2"
      ],
      "allowedRegex": [],
      "regexAllowListUrls": [],
      "blockedRegex": [],
      "regexBlockListUrls": [],
      "adblockListUrls": []
    }
  ]
}
