{
  "enableBlocking": true,
  "blockingAnswerTtl": 30,

  "blockListUrlUpdateIntervalMinutes": 1440,
  "blockListUrlUpdateSleepSeconds": 30,
  "httpTimeoutSeconds": 30,

  "ipListResolveIntervalSeconds": 300,
  "ipListResolveDnsServers": [ "10.0.0.1", "10.0.0.2" ],

  "ipListMaps": {
    "https://192.168.50.50/List_1": "List1",
    "https://192.168.50.50/List_2": "List2"
  },

  "groups": [
    {
      "name": "List1",
      "enableBlocking": true,
      "blockAsNxDomain": false,
      "blocked": [],
      "blockedRegex": []
    },
    {
      "name": "List2",
      "enableBlocking": true,
      "blockAsNxDomain": false,
      "blocked": [],
      "blockedRegex": []
    }
  ]
}